<p>
  <strong>First name:</strong>
  <%= @member.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @member.last_name %>
</p>

<p>
  <strong>Ocupation:</strong>
  <%= @member.ocupation %>
</p>

<p>
  <strong>Twitter url:</strong>
  <%= @member.twitter_url %>
</p>

<p>
  <strong>Facebook url:</strong>
  <%= @member.facebook_url %>
</p>

<p>
  <strong>Instagram url:</strong>
  <%= @member.instagram_url %>
</p>

