<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @contact.body %>
</p>

<p>
  <strong>City:</strong>
  <%= @contact.city %>
</p>

<p>
  <strong>Uf:</strong>
  <%= @contact.uf %>
</p>

<p>
  <strong>Number:</strong>
  <%= @contact.number %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @contact.neighborhood %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @contact.cep %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
