<%= form_with(model: contact,url: admin_contact_path(contact),method: :patch, local: true,html: {class: "forms-sample"}) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :texto %>
    <%= form.text_area :body,class: "form-control p-input", placeholder: "Coloque o texto que irá aparecer no início na seção 'Contato' ", style: "min-height: 80px;" %>
  </div>

  <div class="form-group">
    <%= form.label :cep %>
    <%= form.text_field :cep,class: "form-control p-input", placeholder: "CEP" %>
  </div>

  <div class="form-group">
    <%= form.label :cidade %>
    <%= form.text_field :city,class: "form-control p-input", placeholder: "Cidade" %>
  </div>

  <div class="form-group">
    <%= form.label :uf %>
    <%= form.text_field :uf,class: "form-control p-input", placeholder: "UF" %>
  </div>

  <div class="form-group">
    <%= form.label :número %>
    <%= form.number_field :number,class: "form-control p-input", placeholder: "nº" %>
  </div>

  <div class="form-group">
    <%= form.label :bairro%>
    <%= form.text_field :neighborhood,class: "form-control p-input", placeholder: "Bairro" %>
  </div>


  <div class="form-group">
    <%= form.label :telefone %>
    <%= form.text_field :phone,class: "form-control p-input", placeholder: "Telefone" %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email,class: "form-control p-input", placeholder: "Email" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
