<!DOCTYPE html>
<html>
<head>
  <title>Bizpage Rails</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'admin' %>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <%= stylesheet_link_tag "node_modules/font-awesome/css/font-awesome.min.css" %>
  <%= stylesheet_link_tag "node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css" %>
  <%= stylesheet_link_tag "node_modules/flag-icon-css/css/flag-icon.min.css" %>
  <%= stylesheet_link_tag "css/admin-style.css" %>
  <%= favicon_link_tag "images/favicon.png" %>
</head>

<body>
  <div class=" container-scroller">
    <%= yield %>
    <%= render 'layouts/admin/footer' %>
  </div>

  <%#= javascript_include_tag "node_modules/popper.js/dist/umd/popper.min.js" %>
  <%= javascript_include_tag "node_modules/chart.js/dist/Chart.min.js" %>
  <%= javascript_include_tag "node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js" %>
  <%= javascript_include_tag "js/off-canvas.js" %>
  <%= javascript_include_tag "js/hoverable-collapse.js" %>
  <%= javascript_include_tag "js/misc.js" %>
  <%= javascript_include_tag "js/chart.js" %>
  <%= javascript_include_tag "js/maps.js" %>

</body>
</html>
